[branch]
	autosetupmerge = true
[core]
	pager = less
[color]
	ui = auto
[merge]
	tool = vimdiff
[user]
	name = Andrew Thompson
	email = andrew@hijacked.us
[github]
	user = Vagabond
[url "ssh://git@github.com/"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
	insteadOf = http://github.com/
[push]
	default = simple
